MTG_IMAGE=nineseconds/mtg:2.2.8
MTG_PUBLIC_HOST=SERVER_HOST_OR_DOMAIN
MTG_PUBLIC_IPV4=
MTG_PUBLIC_PORT=8443
MTG_BIND=0.0.0.0:3128
MTG_METRICS_PORT=3129
MTG_METRICS_BIND=0.0.0.0:3129
MTG_FRONT_DOMAIN=vk.ru
MTG_FRONT_PORT=443
MTG_SECRET=
MTG_PREFER_IP=prefer-ipv4
MTG_DNS=https://1.1.1.1/dns-query
MTG_DOPPELGANGER_URLS=https://vk.ru/
MTG_BLOCKLIST_URLS=https://iplists.firehol.org/files/firehol_level1.netset
