TG_WS_IMAGE=mirage-tg-ws-proxy:local
TG_WS_PROXY_VERSION=v1.6.5
TG_WS_PUBLIC_HOST=SERVER_HOST_OR_DOMAIN
TG_WS_PUBLIC_PORT=9443
TG_WS_LISTEN_HOST=0.0.0.0
TG_WS_LISTEN_PORT=1443
TG_WS_SECRET=
TG_WS_DC_IPS=1:149.154.175.53,2:149.154.167.220,3:149.154.175.100,4:149.154.167.220,5:91.108.56.130
TG_WS_NO_CFPROXY=false
TG_WS_FAKE_TLS_DOMAIN=
TG_WS_VERBOSE=false
