MIRAGE_ADMIN_HOST=127.0.0.1
MIRAGE_ADMIN_PORT=8090
MIRAGE_ADMIN_TOKEN=CHANGE_ME_LONG_RANDOM_TOKEN
# На VPS задай значения из `id -u mirage` и `id -g mirage`.
MIRAGE_ADMIN_UID=1000
MIRAGE_ADMIN_GID=1000
MIRAGE_ADMIN_BACKUP_DIR_HOST=/home/mirage/mirage-vpn/backups
MIRAGE_ADMIN_BACKUP_RETENTION_DAYS=14
MIRAGE_ADMIN_BACKUP_KEEP_MIN=3
MIRAGE_ADMIN_BACKUP_IMPORT_MAX_MB=64
MIRAGE_ALERTS_ENABLED=false
MIRAGE_ALERT_TELEGRAM_BOT_TOKEN=
MIRAGE_ALERT_TELEGRAM_CHAT_ID=
MIRAGE_ALERT_INTERVAL_SECONDS=60
MIRAGE_ALERT_BACKUP_MAX_AGE_HOURS=36
MIRAGE_ALERT_DISK_FREE_MIN_PERCENT=10
MIRAGE_ALERT_STATE_DIR_HOST=/home/mirage/mirage-vpn/alerts
